numpy==1.22.0
scipy==1.1.0
sympy==1.0
mpmath==1.0.0
matplotlib==2.2.2
pyyaml==3.12
tabulate==0.8.2
git+https://github.com/petersbingham/ukrmolmatreader@v1.0.1
git+https://github.com/petersbingham/twochanradialwell@v1.0.1
git+https://github.com/petersbingham/tisutil@v1.1.0
git+https://github.com/petersbingham/pynumwrap@v1.1.0
git+https://github.com/petersbingham/matfuncutil@v1.1.0
git+https://github.com/petersbingham/channelutil@v1.0.1
git+https://github.com/petersbingham/parsmat@v1.1.0
git+https://github.com/petersbingham/stelempy@v1.0.1
git+https://github.com/petersbingham/pynumutil@v1.0.1
